# =========================
# Terraform
# =========================
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables (secrets)
*.tfvars
*.tfvars.json

# =========================
# AWS / Credentials
# =========================
.aws/
*.pem
*.key
*.crt

# =========================
# Kubernetes
# =========================
.kube/

# =========================
# OS / Editors
# =========================
.DS_Store
.vscode/
.idea/
